0 * * * * /local/metscan/scripts/exec.sh -C -R checklumi.py >> /local/metscan/logs/checklumi.log 2>&1
20 * * * * /local/metscan/scripts/exec.sh -C -R submit.py >> /local/metscan/logs/submit.log 2>&1
30 * * * * /local/metscan/scripts/exec.sh -C analyze.py >> /local/metscan/logs/analyze.log 2>&1
40 * * * * /local/metscan/scripts/exec.sh -C -R jobsit.py >> /local/metscan/logs/jobsit.log 2>&1